.formulario {
    width: 100%;
    margin: 30px;
    ;
}

.formulario_grupo-input {
    position: relative;
}

.formulario_input{
    width: 80%;
    height: 30px;
    border-radius:3px;
    padding: 0px 40px 1px 10px;
       
}

.formulario_inputOk{
    width: 80%;
    height: 30px;
    border-radius:3px;
    padding: 0px 40px 1px 10px;
    border-color:#4ECA64;
       
}

.formulario_inputError{
    width: 80%;
    height: 30px;
    border-radius:3px;
    padding: 0px 40px 1px 10px;
    border-color:#DB5A5A;
       
}

.formulario_validar-estado-mal {
    position: absolute;
    top:50%;
    right:65px;
    transform: translateY(-50%);
    z-index:100;
    opacity:1;
}

.formulario_validar-estado-bien {
    position: absolute;
    top:50%;
    right:65px;
    transform: translateY(-50%);
    z-index:100;
    opacity:1;
}

.formulario_input-error{
    color: #DB5A5A;
    font-size: x-small;
    transform: translateY(-6px);
}
.formulario.input-error-activo {
    display: block;
}


.body {
    background-color: #242933;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.cuadro {
    
    background-color: #2F3644;
    border-radius:4px;
    border-width:5px;
    border-color: #393F55;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0 auto;
    width: 300px;
    height: 400px;
}

.titulo {
    font-size:x-large;
    color:#AEBCE3;
    
}


.formulario_label {
    font-size:small;
    color:#8893B5;
    
    
}


.formulario_boton {
    width: 80%;
    padding:10px;
    background-color: #6C63FF;
    border-color:#111127cc;
    font-size:small;
    color:white;
    border-radius:5px;
    border-width: 2px;
    font-weight: 700;
    text-align: center;
    align-items: center;
    cursor:pointer;

}

/* Si los campos son correctos

.formulario_grupo-correcto .formulario_validar-estado {
    color:#4ECA64;
    opacity:1;
}
.formulario_grupo-correcto .formulario_input {
    border-color:#4ECA64;
}

 Si los campos son incorrectos

.formulario_grupo-incorrecto .formulario_input{
    border-color:#DB5A5A;
}

.formulario_grupo-incorrecto .formulario_validar-estado{
    opacity:1;
}/*